extends ../layout

include ../shared/common

block content 
  h1 チーム作成

  form.box(action=`/teams/`, method="post")
    _csrf

    +error_panel(err)

    div
      label チーム名
      input(name="name", value!=team.name)

    div.actions
      input(type="submit")