extends layout

block content
  p Welcome to #{title}
  if user 
    p Hello, #{user.username}
    a(href="/logout") Logout
  else 
    a(href="/login") Login  
  p 
    a(href="/user/edit") プロフィール編集
  p 
    a(href="/examples") CRUDのリソースのサンプル      