doctype html
html
  head
    title= title
    meta(name="csrf-token", content!=csrfToken)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .wrapper
      h1 
        a(href="/") ExpressMVC

      block content
