extends ../../layout

block content 
  h1=team.name

  div 
    a(href=`/manager/teams/${team.id}/members`) メンバー管理

  h2 タスク一覧

  div 
    a(href=`/manager/teams/${team.id}/tasks/create`) 新規タスク作成

  include ../../shared/task_table.pug
  +task_table(tasks)
