extends ../layout

block content 
  h1 Example:create

  form(action="/tasks", method="post")
    _csrf
    
    div
      input(name="title")
    div  
      textarea(name="body")
    div
      input(type="submit")