extends ../layout

block content 
  h1 Example:edit

  form(action=`/tasks/${task.id}`, method="post")
    _csrf
    _method('put')

    div
      input(name="title", value!=task.title)
    div  
      textarea(name="body")=task.body
    div
      input(type="submit")