extends ../../layout

include ../../shared/common

block content 
  h1 Task:create

  +error_panel(err)

  form(action=`/manager/teams/${team.id}/tasks`, method="post")
    _csrf
    
    div
      input(name="title", value!=task.title)
    div  
      textarea(name="body", value!=task.body)
    div
      input(type="submit")