include ../../shared/common

mixin task_form(action, method, task, err)

  form.box(action!=action, method='post')
    _csrf
    _method=method
  
    +error_panel(err)
    
    div
      label(for="title") タイトル
      input#title(name="title", value!=task.title)
    div  
      label(for="body") 内容
      textarea#body(name="body")=task.body
    div 
      label(for="assigneeId") 担当者
      select#assigneeId(name="assigneeId")
        option(value="", selected=!task.assigneeId) なし
        each user in users 
          option(value=user.id, selected=user.id === task.assigneeId)= user.displayName  
    div.actions
      input(type="submit")