extends ../layout

include ../shared/common.pug

block content 
  h2= __('views.Profile')

  form(action=`/user`, method="post")
    _method put
    _csrf

    +error_panel(err, user)

    div
      input(name="displayName", value!=user.displayName)

    div
      input(type="submit")